<p-table [value]="usuarios" responsiveLayout="scroll" id="htmlData" #htmlData>
  <ng-template  pTemplate="caption">
    <div class="flex table-header">
        <div class="col-4 p-0">
          <button pButton pRipple type="button" icon="pi pi-plus" (click)="cadastroModal()" class="p-button-rounded p-button-text"></button>
        </div>
        <div class="col-4 text-center p-0">Lista de Usuários</div>
        <div class=" col-4 text-right p-0">
          <button pButton pRipple (click)="exportPDF()" type="button" icon="pi pi-file-pdf" class="display-screen p-button-rounded p-button-secondary p-button-text p-0" ></button>
        </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Tipo</th>
          <th>Opções</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-usuario>
      <tr>
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.roles }}</td>
          <td>
            <button pButton pRipple type="button" icon="pi pi-times" (click)="deletarUsuario(usuario.id)" class="p-button-rounded p-button-danger p-button-text"></button>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      Tipo de Usuário: ADMIN
    </div>
</ng-template>
</p-table>

