<div>
  <button pButton pRipple type="button" (click)="editarUsuario(usuario)" label="Editar" class="p-button-outlined p-button-warning mr-2"></button>
  <button
    pButton
    pRipple
    type="button"
    label="Excluir"
    class="p-button-outlined p-button-danger mt-2"
    (click)="dialogExclusao(usuario.id)"
  ></button>
</div>
<div class="card">
  <div class="justify-content-center">
    <p-card
      header="Bem vindo!"
      subheader="Seus dados"
      [style]="{ width: '60%' }"
      styleClass="styleClass"
    >
      <div class="grid mt-2">
        <div class="col-6">Usuario: {{ usuario.email }}</div>
        <div class="col-6 mb-3">Senha: {{ usuario.senha | passwordfilter }}</div>
        <div class="col-6">Nome: {{ usuario.nome }}</div>
        <div class="col-6">Data de Nascimento: {{ usuario.datanasc }}</div>
        <div class="col-6">CPF: {{ usuario.cpf | cpf }}</div>
      </div>
      <p-footer> Tipo do perfil: {{ usuario.roles }} </p-footer>
    </p-card>
  </div>
</div>

<p-confirmDialog
  header="Confirmação"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
